body {
    margin: 0;
    height: 100vh;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    position: relative; /* Для абсолютного позиционирования картинок */
    overflow: hidden; /* Скрываем всё, что выходит за пределы экрана */
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Центрируем контейнер */
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
    margin-bottom: 20px; /* Отступ между текстом и GIF */
}

.gif_container img.gif {
    width: 300px; /* Размер GIF-картинки */
    height: auto; /* Сохраняем пропорции */
}

/* Стили для картинок, которые можно перемещать */
.photo {
    width: 100px; /* Размер картинок */
    height: auto; /* Сохраняем пропорции */
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для картинок */
    position: absolute; /* Абсолютное позиционирование */
}

/* Позиционируем каждую картинку вручную */
.photo1 {
    width: 210px;
    top: 52%; /* Отступ сверху */
    left: 26%; /* Отступ слева */
}

.photo2 {
    width: 200px;
    top: 45%; /* Отступ сверху */
    left: 60%; /* Отступ слева */
}

.photo3 {
    width: 300px;
    top: 10%; /* Отступ сверху */
    left: 5%; /* Отступ слева */
}

.gif1 {
    width: 350px;
    top: 20%;
    left: 75%;
}